XCFramework.sln
XCFramework.csproj
XCFramework.Editor.csproj
Assets/StreamingAssets/AssetBundles/
AssetBundles/
Assets/StreamingAssets/AssetBundles.meta
*.apk
Assets/AssetsPackage/Lua/
Assets/Scripts/XLua/Gen/
Assets/Scripts/XLua/Gen.meta
Assets/AssetsPackage/Lua.meta
*.csproj
*.sln
Library/
Temp/
.vs/
Assets/Plugins/Android/
Assets/Plugins/Android.meta
.idea
Assets/Plugins/Editor/
Assets/Plugins/Editor.meta